body{
    background-color: white;
    background-image: url("../images/bg.jpg");
    width: 960px;
}

.content{

    text-align: center;
}

#inputSearch{
    margin-bottom: 20px;
}

.wrap{
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
  }

.container{
    text-align: center; 
    margin: 0 auto;
}